
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color:antiquewhite;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  font-size: 20px;
  background: hsl(15, 97%, 27%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

main {
  flex: 1;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  padding: 0 0.5em;
  color: white;
}

footer {
  flex: 0 50px;
  background: hsl(15, 97%, 27%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
h1{
  align-items:flex-start;
  color:black;
}
label{
  color:white;
  align-items: center;
  font-size: 20px;
}
.button {

  color: black;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

section.post-recipe {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section.post-recipe form {
  text-align: center;
}

section.post-recipe h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

section.post-recipe label {
  display: block;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

section.post-recipe input[type="text"],
section.post-recipe textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

section.post-recipe button.button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* CSS for "Favorite Recipes" section */
section.favorite-recipes {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section.favorite-recipes h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

section.favorite-recipes div {
  margin-bottom: 15px;
}

section.favorite-recipes h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

section.favorite-recipes p {
  font-size: 16px;
  color: black;
}


