* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  font-size: 20px;
  background: hsl(15, 97%, 27%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.left-section {
  flex: 0 0 50%;
  padding: 20px;
}

.right-section {
  flex: 0 0 50%;
  padding: 20px;
}

footer {
  flex: 0 50px;
  background: hsl(15, 97%, 27%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: black;
  text-align: center;
}

label {
  color: black;
  font-size: 20px;
}

.button {
  color: white;
  background-color: hsl(15, 97%, 27%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section.post-section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section.post-section form {
  text-align: center;
}

section.post-section h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

section.post-section label {
  display: block;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

section.post-section input[type="text"],
section.post-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

section.post-section button.button {
  color: white;
  background-color: hsl(15, 97%, 27%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section.newsfeed {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section.newsfeed h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

section.newsfeed div {
  margin-bottom: 15px;
}

section.newsfeed h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

section.newsfeed p {
  font-size: 16px;
  color: black;
}

section.favorite-recipes {
  background-color: white;
  padding: 20px;
}

section.favorite-recipes h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

section.favorite-recipes div {
  margin-bottom: 15px;
}

section.favorite-recipes h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}

section.favorite-recipes p {
  font-size: 16px;
  color: black;
}
div {
  padding: 0 0.5em;
  color: black;
}




